
.animated {
	-webkit-animation-duration: 3s;
	   -moz-animation-duration: 3s;
	     -o-animation-duration: 3s;
	        animation-duration: 3s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}


@-webkit-keyframes bounceInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(410px);	
	}

	30% {
		opacity: 0.3;
		-webkit-transform: translateX(-30px);
	}


	60% {
		opacity: 0.4;
		-webkit-transform: translateY(-50px);
	}

	80% {
		opacity: 0.5;
		-webkit-transform: translateY(100px);
	}

	90% {
		opacity: 0.6;
		-webkit-transform: rotate(50deg);
	}
	95% {
		opacity: 0.7;
		-webkit-transform: rotate(-50deg);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}
@-moz-keyframes bounceInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(410px);
	}

	30% {
		opacity: 0.3;
		-webkit-transform: translateX(-30px);
	}


	60% {
		opacity: 0.4;
		-webkit-transform: translateY(-50px);
	}

	80% {
		opacity: 0.5;
		-webkit-transform: translateY(100px);
	}

	90% {
		opacity: 0.6;
		-webkit-transform: rotate(50deg);
	}
	95% {
		opacity: 0.7;
		-webkit-transform: rotate(-50deg);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-o-keyframes bounceInUp {
0% {
		opacity: 0;
		-webkit-transform: translateY(410px);
	}

	30% {
		opacity: 0.3;
		-webkit-transform: translateX(-30px);
	}


	60% {
		opacity: 0.4;
		-webkit-transform: translateY(-50px);
	}

	80% {
		opacity: 0.5;
		-webkit-transform: translateY(100px);
	}

	90% {
		opacity: 0.6;
		-webkit-transform: rotate(50deg);
	}
	95% {
		opacity: 0.7;
		-webkit-transform: rotate(-50deg);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@keyframes bounceInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(410px);
	}

	30% {
		opacity: 0.3;
		-webkit-transform: translateX(-30px);
	}


	60% {
		opacity: 0.4;
		-webkit-transform: translateY(-50px);
	}

	80% {
		opacity: 0.5;
		-webkit-transform: translateY(100px);
	}

	90% {
		opacity: 0.6;
		-webkit-transform: rotate(50deg);
	}
	95% {
		opacity: 0.7;
		-webkit-transform: rotate(-50deg);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

.animated.bounceInUp {
	-webkit-animation-name: bounceInUp;
	-moz-animation-name: bounceInUp;
	-o-animation-name: bounceInUp;
	animation-name: bounceInUp;
}

@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
	}

	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
	}

	80% {
		-webkit-transform: translateY(-10px);
	}

	100% {
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes bounceInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-2000px);
	}

	60% {
		opacity: 1;
		-moz-transform: translateY(30px);
	}

	80% {
		-moz-transform: translateY(-10px);
	}

	100% {
		-moz-transform: translateY(0);
	}
}

@-o-keyframes bounceInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-2000px);
	}

	60% {
		opacity: 1;
		-o-transform: translateY(30px);
	}

	80% {
		-o-transform: translateY(-10px);
	}

	100% {
		-o-transform: translateY(0);
	}
}

@keyframes bounceInDown {
	0% {
		opacity: 0;
		transform: translateY(-2000px);
	}

	60% {
		opacity: 1;
		transform: translateY(30px);
	}

	80% {
		transform: translateY(-10px);
	}

	100% {
		transform: translateY(0);
	}
}

.animated.bounceInDown {
	-webkit-animation-name: bounceInDown;
	-moz-animation-name: bounceInDown;
	-o-animation-name: bounceInDown;
	animation-name: bounceInDown;
}
@-webkit-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
	}

	60% {
		opacity: 1;
		-webkit-transform: translateX(30px);
	}

	80% {
		-webkit-transform: translateX(-10px);
	}

	100% {
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-moz-transform: translateX(-2000px);
	}

	60% {
		opacity: 1;
		-moz-transform: translateX(30px);
	}

	80% {
		-moz-transform: translateX(-10px);
	}

	100% {
		-moz-transform: translateX(0);
	}
}

@-o-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-o-transform: translateX(-2000px);
	}

	60% {
		opacity: 1;
		-o-transform: translateX(30px);
	}

	80% {
		-o-transform: translateX(-10px);
	}

	100% {
		-o-transform: translateX(0);
	}
}

@keyframes bounceInLeft {
	0% {
		opacity: 0;
		transform: translateX(-2000px);
	}

	60% {
		opacity: 1;
		transform: translateX(30px);
	}

	80% {
		transform: translateX(-10px);
	}

	100% {
		transform: translateX(0);
	}
}

.animated.bounceInLeft {
	-webkit-animation-name: bounceInLeft;
	-moz-animation-name: bounceInLeft;
	-o-animation-name: bounceInLeft;
	animation-name: bounceInLeft;
}
@-webkit-keyframes bounceInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
	}

	60% {
		opacity: 1;
		-webkit-transform: translateX(-30px);
	}

	80% {
		-webkit-transform: translateX(10px);
	}

	100% {
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes bounceInRight {
	0% {
		opacity: 0;
		-moz-transform: translateX(2000px);
	}

	60% {
		opacity: 1;
		-moz-transform: translateX(-30px);
	}

	80% {
		-moz-transform: translateX(10px);
	}

	100% {
		-moz-transform: translateX(0);
	}
}

@-o-keyframes bounceInRight {
	0% {
		opacity: 0;
		-o-transform: translateX(2000px);
	}

	60% {
		opacity: 1;
		-o-transform: translateX(-30px);
	}

	80% {
		-o-transform: translateX(10px);
	}

	100% {
		-o-transform: translateX(0);
	}
}

@keyframes bounceInRight {
	0% {
		opacity: 0;
		transform: translateX(2000px);
	}

	60% {
		opacity: 1;
		transform: translateX(-30px);
	}

	80% {
		transform: translateX(10px);
	}

	100% {
		transform: translateX(0);
	}
}

