@import url('animation.css'); 

 @media only screen and (min-width:880px){ 

  .oneTitle{
    color: white;
    font-family: 'Francois One', 'sans-serif';
    margin-left: -55px;
  }
 }

 .oneTitle{
    color: white;
    font-family: 'Francois One', 'sans-serif';
  }
  .newComment{
  color: white;
  text-decoration:none;
  border-style: none;
  }
 .newComment:hover{
  color: white;
  text-decoration:none;
  border-style: none;
  }

.comment{

  display: none;
}
.btnCancel{

  margin-right: 10px;
}
.qitem {
  width:162px;
  height:165px; 
  border-radius: 230px;
  overflow:hidden;
  border: 8px solid #fff;
  margin-top: 30px;
  position:relative;
  left: 12%;
  margin-left: 30px;
  float:left;
  text-align: center;
  cursor:hand; cursor:pointer;
}
.txtTitlePost{
  height: 100%;
}
.tblworkshop{

  margin-top: 78px;
}

a{

  cursor: pointer;
}
.newpost{
  margin-top: 20px;
}

.divPost{

  height: 180px;
  width: 200px;
  background-color: #c8c8c8;
}

iframe{


    width: 100%;
}
.login{
  display: none;
}
.titleLogin{
margin-top: 100px;
margin-bottom: 75px;

}
body{
  background-color: #203748;
}


/* Setting for corners */

.topLeft, .topRight, .bottomLeft, .bottomRight {
  position:absolute;
  background-repeat: no-repeat; 
  float:left;
}

.topLeft {
  background-position: top left;  
} 

.topRight {
  background-position: top right; 
} 

.bottomLeft {
  background-position: bottom left; 
} 

.bottomRight {
  background-position: bottom right; 
}

.clear {
  clear:both; 
}

p{
  font-family: 'Rosario', 'sans-serif';
  font-size: 22px;
}


.title{

  margin-top: 70px;
  margin-bottom: 70px;
}
.title2{

  margin-top: -50px;
  margin-bottom: 70px;
}

.colorgraph {
height: 5px;
border-top: 0;
background: #c4e17f;
border-radius: 5px;
background-image: -webkit-linear-gradient(left,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);
background-image: -moz-linear-gradient(left,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);
background-image: -o-linear-gradient(left,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);
background-image: linear-gradient(to right,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);
}
.mail{
  margin-bottom: 12px;
}
.pass{
  margin-bottom: 40px;
}
h2{
 color: white;
  margin-top: 80px;
	font-family: 'Francois One', 'sans-serif';
}
.error7{
text-align: center;
background-color:red;
color:#fff;
left: 17%;
margin-top: -78px;
height: auto;
width:  auto;
border-radius: 5px;
position:absolute;
font-size:17px;
float: left;
}
.tblResult{

  height: 688px;
  width: 888px;
  margin-bottom: 75px;
}
.footer{

  height: 50px;

}

#addImage{

  margin-bottom: 15px;
}

.pictureUser{

  height: 170px;
  width: auto;
}

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), url("../fonts/MWVf-Rwh4GLQVBEwbyI61Q.woff") format('woff');
  
}
@font-face {
  font-family: 'Francois One';
  font-style: normal;
  font-weight: 400;
  src: local('Francois One Regular'),  url("../fonts/h2.woff") format('woff');
}
@font-face {
  font-family: 'Rosario';
  font-style: normal;
  font-weight: 400;
  src: local('Oleo Script'),  url("../fonts/etiquetaP.woff") format('woff');
}

h3{

  font-size: 20px; 
  font-family: 'Francois One', 'sans-serif';}

h1{
 color: white;
  font-size: 70px; 
  font-family: 'Lobster', 'cursive';
  text-shadow: black 0.1em 0.1em 0.2em
}
.photoWelcome{

height: 50px;
width: 50px;

}
.result{

  font-family: 'Lobster', 'cursive';

}
td{

  text-align: center;
}

.resultCalculate{
background-color: #fff;
}
.valueCalculate{

  margin-top: 75px;
}
.tblTest{

  margin-top: 75px;
}
.btnCalculate{

  margin-top:65px;
  height: 48px;
  margin-left: 10px;
}


#logoInicio{
  margin-top: 50px;
  height: 170px;
  width: 250px;}

hr{

	margin-top: -10px;
}
a:hover
{
	text-decoration:none;
}


a{
	text-decoration:none;
}
#forgotPass{
    margin-top: 50px;
  color: white;
}
#forgotPass:hover{

  color: white;
}
#footer{
	margin-top: 100px;
	color: white;
  text-align: right;
}
#footer:hover{

	color: white;
}